:root {
    --accent: 251, 234, 81;
    --mute: 203, 203, 203;
}

html { height: 100%; }

body {
    margin: 0;
    font-family: 'Overpass', sans-serif;
    background-color: rgb(56, 56, 56);
    color: white;
    text-align: center;
}

header h1 {
    text-transform: uppercase;
    margin: 32px 32px 0 32px;
}

figcaption:first-child {
    color: rgb(var(--accent));
    text-align: center;
    font-size: 20px;
    margin: 16px;
}

/* figcaption select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    font: inherit;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

figcaption select option {
    color: black;
} */

figure {
    margin: 32px;
    border: 2px solid rgb(128, 128, 128);
}

figure svg path.line {
    stroke: rgb(var(--accent));
    stroke-width: 2px;
    fill: none;
}

figure svg .axis {
    opacity: 0.5;
}

figure svg .axis .label {
    font-size: 16px;
    fill: currentColor;
}

figure svg circle {
    stroke: rgb(var(--accent));
    stroke-width: 2px;
    fill: rgb(56, 56, 56);
}
